.badge {
  @apply inline-block;
  @apply text-center;
  @apply font-condensed;
  @apply uppercase;
  @apply py-1 px-2;
  @apply bg-white;
  @apply text-primary;
  @apply text-xs;
  @apply border border-white;
  @apply focus:outline-none;
  @apply focus:ring focus:ring-white focus:ring-opacity-30;
  @apply rounded-full;

  &.active {
    @apply bg-green;
    @apply text-white;
    @apply border-green;
    @apply focus:ring-primary focus:ring-opacity-30;
  }

}
