.inputWrapper {
  @apply relative;
  .placeholderTextArea {
    & + .inputGroup {
      @apply mt-1.5;
    }
  }

  .inputGroup {
    @apply relative;
    @apply z-20;
    .input {
      @apply px-4 pt-6 pb-1.5 rounded-xl w-full;
      @apply focus:outline-none;
      &.noBorder {
        @apply border-0;
      }
      &.textarea{
        @apply resize-none;
      }

      &:not(.noBorder) {
        @apply border border-grey-200;
        @apply focus:ring focus:ring-primary focus:ring-opacity-30 focus:border-primary;
        &:focus {
          @apply border-2;
          padding: 23px 15px 5px 15px;
        }
      }

      &.right {
        @apply pl-8;
        & ~ .inputIcon {
          @apply left-0;
        }

        & ~ .placeholder {
          @apply left-8;
        }
      }

      &.left {
        & ~ .inputIcon {
          @apply right-4;
        }
      }

      &.hasError:not(:focus) {
        @apply border-red;
        & ~ .inputIcon {
          @apply text-red;
        }
      }

      &:focus {
        & ~ .inputIcon {
          @apply text-primary;
        }

        & ~ .placeholder {
          @apply text-primary;
        }
      }

      &:focus, &.hasValue {
        & ~ .placeholder {
          @apply top-1/3;
          @apply text-xs;
        }
      }
    }

    .inputIcon {
      @apply absolute;
      @apply top-1/2;
      @apply transform -translate-y-1/2;
    }

    .placeholder {
      @apply transition-all;
      @apply duration-100;
      @apply text-grey-400;
      @apply absolute;
      @apply left-4;
      @apply top-1/2;
      @apply transform -translate-y-1/2;
      @apply cursor-text;
    }

  }

  .options {
    @apply absolute;
    @apply bg-white;
    @apply z-30;
    @apply hidden;
    @apply w-full;
    @apply shadow;
    @apply pt-4 pr-2 pb-2 pl-2;
    @apply -mt-2;
    @apply rounded-b-lg;
    .option {
      @apply cursor-pointer;
      @apply p-3;
      &:hover {
        @apply bg-grey-50;
      }
    }
  }

  &.selectShow {
    .inputGroup {
      @apply z-40;
    }
    .options {
      @apply block;
    }
  }
}