.modalDialog {
  @apply z-50;
  @apply w-full;
  @apply h-full;
  @apply fixed;
  @apply flex;
  @apply top-0;
  @apply left-0;
  .modal {
    @apply transform;
    @apply transition-transform;
    @apply duration-300;
    @apply left-0 top-0;
    @apply p-0;

    &.fade {
      @apply transition-opacity duration-300;
      @apply opacity-0;
      @apply absolute left-0 right-0;
      @apply top-1/2;
      @apply -translate-y-1/2;
      @apply mx-auto;
      @apply z-50;
      &.entered {
        @apply opacity-100;
      }

      &.exited {
        @apply opacity-100;
      }
    }

    &.top {
      @apply -translate-y-full;
    }

    &.bottom {
      @apply translate-y-full;
    }

    &.right {
      @apply translate-x-full;
    }

    &.left {
      @apply -translate-x-full;
    }

    &.top, &.bottom, &.right, &.left {
      &.entered {
        @apply translate-y-0 translate-x-0;
      }
    }

    .body {
      @apply z-40;
    }
  }
}
