.checkboxGroup {
  @apply relative;
  @apply block;
  @apply pl-10;
  input {
    @apply absolute;
    @apply opacity-0;
    @apply w-0;
    @apply h-0;
    &:checked ~ .checkMark {
      &:after {
        @apply block;
      }
    }
  }

  .label {
    @apply text-sm;
    a {
      @apply text-primary;
    }
  }

  .checkMark {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-7;
    @apply h-7;
    @apply border border-grey-200;
    @apply rounded;
    @apply bg-white;
    &.hasError {
      @apply border-red;
    }

    &:after {
      content: "";
      @apply absolute;
      @apply hidden;
      @apply left-2.5;
      @apply top-1;
      @apply w-2;
      @apply h-4;
      @apply border-primary;
      @apply border-r-4;
      @apply border-b-4;
      @apply transform;
      @apply rotate-45;
    }
  }
}