.radioGroup {
  @apply block;
  @apply flex items-center;
  input {
    @apply absolute;
    @apply opacity-0;
    @apply w-0;
    @apply h-0;
    &:checked ~ .checkRadio {
      &:after {
        @apply block;
      }
    }
  }

  .label {
    a {
      @apply text-primary;
    }
  }

  .checkRadio {
    @apply relative ;
    @apply top-0;
    @apply left-0;
    @apply w-7;
    @apply mr-2;
    @apply h-7;
    @apply border border-grey-200;
    @apply rounded-full;
    @apply bg-white;
    &.hasError {
      @apply border-red;
    }

    &:after {
      content: "";
      @apply absolute;
      @apply hidden;
      @apply top-1/2 left-1/2;
      @apply transform;
      @apply -translate-x-1/2;
      @apply -translate-y-1/2;
      @apply w-3;
      @apply h-3;
      @apply bg-primary;
      @apply rounded-full;
    }
  }
}