.panel {
  @apply bg-white shadow-lg relative rounded-3xl;
  @apply flex flex-col justify-between;
  &.primary {
    .header {
      @apply bg-primary;
    }
  }

  &.grey {
    .header {
      @apply bg-grey-50;
    }
  }

  &.account {
    @apply rounded-none md:rounded-3xl;
    @apply divide-y-4 divide-grey-50;
  }

  .header {
    &:first-child {
      @apply rounded-t-3xl;
    }

    @apply p-3 md:p-5;
    @apply bg-white;
  }

  .body {
    @apply p-5;
    @apply h-full;
    &:first-child {
      @apply rounded-t-3xl;
    }
    &.grey {
      @apply bg-grey-50;
    }

    & + .body {
      @apply border-t border-grey-50;
    }
  }
}
