
.button {
  @apply inline-block;
  @apply text-center;
  @apply font-condensed;
  @apply uppercase;
  @apply py-1 px-2 sm:py-2 sm:px-4;
  @apply bg-white hover:bg-primary;
  @apply text-primary hover:text-white;
  @apply text-base;
  @apply rounded-xl;
  @apply border border-transparent;
  @apply focus:outline-none;
  @apply focus:ring focus:ring-white focus:ring-opacity-30;
  &:not(.noTransition) {
    @apply transform transition-all duration-300;
    i {
      @apply transform transition-all duration-300;
    }
  }

  &.withIcon {
    @apply inline-flex items-center justify-center;
    @apply py-2 px-3;
  }

  &:hover {
    i {
      @apply text-white;
    }
  }

  i {
    @apply text-primary;
  }


  &.primary-outline {
    @apply bg-white hover:bg-primary;
    @apply text-primary hover:text-white;
    @apply border border-primary border-opacity-50;
    @apply focus:ring-primary focus:ring-opacity-30;
    i {
      @apply text-primary;
    }

    &:hover {
      i {
        @apply text-white;
      }
    }

  }

  &.primary {
    @apply bg-primary hover:bg-primary-dark;
    @apply text-white;
    @apply border-primary;
    @apply focus:ring-primary focus:ring-opacity-30;
    i {
      @apply text-white;
    }
  }

  &.facebook {
    @apply bg-facebook;
    @apply text-white;
    @apply border-facebook;
    @apply focus:ring-facebook focus:ring-opacity-30;
    i {
      @apply text-white;
    }
  }

  &.inactive {
    @apply border-0;
    @apply bg-transparent;
    @apply text-grey-300 hover:text-primary;
    @apply ring-0;
    i {
      @apply text-grey-300;
    }
  }

  &.disabled {
    @apply bg-grey-300;
    @apply text-grey-400;
    @apply cursor-not-allowed;
  }

  &.full {
    @apply w-full py-5 text-2xl;
    @apply rounded-2xl;
  }

  &.rounded {
    @apply rounded-full;
  }

  &.splash {
    @apply py-2;
    @apply px-0;
  }

  &.thin {
    @apply border-grey-200;
    @apply font-sans;
  }

  &.xl {
    @apply py-3;
    @apply px-2;
    @apply w-full;
    @apply text-lg;
  }

  &.lg {
    @apply py-3;
    @apply px-12 xs:px-16;
    @apply text-lg;
  }

  &.md {
    @apply py-3;
    @apply px-10 xs:px-12;
  }

  &.xs {
    @apply py-1;
    @apply px-3;
    @apply text-sm;
  }
}