.alert {
  @apply p-4 rounded-2xl flex items-start space-x-3 shadow;
  &.info {
    @apply text-info-dark bg-info-light;
    .icon {
      @apply text-info;
    }

  }

  .featured {
    @apply font-black text-lg;
  }

  .icon {
    @apply flex-shrink-0 w-7 h-7 fill-current;
  }

  &.danger {
    @apply text-danger-dark bg-danger-light;
    .icon {
      @apply text-danger;
    }
  }

  &.success {
    @apply text-success-dark bg-success-light;
    .icon {
      @apply text-success;
    }
  }

  &.warning {
    @apply text-warning-dark bg-warning-light;
    .icon {
      @apply text-warning;
    }
  }

}