.hamburger {
  @apply p-2 sm:p-4;
  @apply rounded-full;
  @apply bg-white;
  @apply border-8;
  @apply border-gold;
  @apply border-opacity-40;
  @apply bg-clip-padding;
  height: 60px;
  width: 60px;
  @screen sm {
    height: 72px;
    width: 72px;
  }
  @apply flex flex-col;
  @apply items-center;
  @apply cursor-pointer;
  @apply transform transition-all duration-300;
  &:hover {
    @apply bg-primary;
    div {
      @apply bg-white;
    }
  }

  &.grey {
    @apply border-grey-50;
    @apply border-opacity-40;
  }

  &.open {
    div {
      @apply relative;
      @apply top-2;
      &:nth-child(2) {
        @apply opacity-0;
        @apply w-0;
        @apply h-0;
        @apply m-0;
      }

      &:first-child {
        transform: rotate(-135deg) translateX(-1px);
      }

      &:last-child {
        @apply -mt-2;
        @apply rotate-45;
        transform: rotate(-45deg) translateX(1px);
      }
    }
  }

  div {
    @apply transition-all transform duration-300 ease-in-out;
    @apply opacity-100;
    height: 3px;

    &:first-child {
      @apply mt-0.5;
    }

    &:not(:last-child) {
      @apply mb-1.5;
    }

    @apply w-7;
    @apply rounded-full;
    @apply bg-primary;
  }
}